<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=0.8" name="viewport">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</head>

<body>
  <!-- <button type="button" class="mobile-nav-toggle collapsed d-xl-none" data-toggle="collapse" data-target="#navbar"><i class="icofont-navigation-menu"></i></button> -->
  
  <header>
    <nav class="navbar navbar-default navbar-expand-lg  ">
      <div class="container">
        <div class="navbar-header">
          <p style="color: #301355" class="navbar-brand" href="/">OUR TO DO LIST</p>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li id="home"><a href="/">HOME</a></li>
            <li id="about"><a href="/radhika">RADHIKA</a></li>
            <li id="contact"><a href="/parthsarthi">PARTHSARTHI</a></li>
          </ul>
        </div>
          
      </div>
    </nav>
  </header>
  
  <script>

    function changeBg() {
      const images = [
        'url("../Assets/img1edit.jpg"',
        'url("../Assets/img2.jpg"',
        'url("../Assets/img3.jpg"',
        'url("../Assets/img4.jpg"',
        'url("../Assets/img5.jpg"'
      ]

      // const section = document.querySelector()

      const bg = images[Math.floor(Math.random()*images.length)]
      document.body.style.backgroundImage = bg
    }
    changeBg()  
    setInterval(changeBg, 5000)
  </script>
</body>

