<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=0.8" name="viewport">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">

</head>

<body>  
  <header>
    <nav class="navbar navbar-expand-md navbar-default">
      <div class="container">
        <a style="color: #301355" class="navbar-brand" href="/">OUR TO DO LIST</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <!-- <span style="color: black !important" class="navbar-toggler-icon"></span> -->
        <i style="color:black" class="icofont-navigation-menu"></i>
      </button>
      
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" style= "left: 4%;" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style= "left: 4%;" href="/radhika">RADHIKA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style= "left: 4%;" href="/parthsarthi">PARTHSARTHI</a>
          </li>
        </ul>
      </div>

      </div>
    </nav>
    
<br>
  </header>
  
  <script>

    function changeBg() {
      const images = [
        'url("../Assets/img1edit.jpg"',
        'url("../Assets/img2.jpg"',
        'url("../Assets/img3.jpg"',
        'url("../Assets/img4.jpg"',
        'url("../Assets/img5.jpg"'
      ]

      // const section = document.querySelector()

      const bg = images[Math.floor(Math.random()*images.length)]
      document.body.style.backgroundImage = bg
    }
    changeBg()  
    setInterval(changeBg, 5000)
  </script>
</body>

