<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>It is a <%=kindofDay%> !</h1>
<!-- <% if (kindofDay==="Saturday" || kindofDay === "Sunday"){ %>
      <h1 style="color: purple">It is a <%=kindofDay%> ToDo list !</h1>
  <% }else{ %>
      <h1 style ="color: red">It is a <%=kindofDay%> ToDo list !</h1>
    <% } %> -->
    <ul>
      <li>Buy food</li>
      <li>cook food</li>
      <li>eat food</li>
      <li> <%=newItem%>
    </ul>

    <form class="" action="/" method="post">
      <input type="text" name="newItem">
      <button type="submit" name="button">Add to list</button>

    </form>

  </body>
</html>
